body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Mytopmenu-nav, .dropdown-menu li, #MyUl {
    background-color: darkgreen;
}

#Mytopmenu-nav a {
        color: white;
}
    #Mytopmenu-nav a:hover{
        background: white; 
        color: black;
    }

 .dropdown-menu li:hover, #MyUl {
    background-color: darkgreen
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #Mytopmenu-nav a:hover, .dropdown-menu li:hover {
        background: white;
        color: black;
    }    
}

.small_picture {
    height: 150px;

}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    /* height: auto; */
    height: 150px;
}

#myModal {
	width : 800px;
}