@model IEnumerable<portfolio.Models.Photos>
@foreach (var ph in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 thumbnail" >
       <img src="@ph.link" alt="img"/>
        
        <div>
          
            <button type="submit" class="btn btn-info" title="Сделать главной" name="submitButton" value="MainPhoto_@ph.id"><i class="glyphicon glyphicon-home"></i></button>
            <button type= "submit" class= "btn btn-danger"  title="Удалить" name="submitButton" value="DeletePhoto_@ph.id">

<i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
    
}

<!--using (Ajax.BeginForm("photoManager", new AjaxOptions { UpdateTargetId = "results" }))
    {}-->

