<ul class="nav navbar-nav navbar-right">
    <li class="menu-item dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Админка<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="MyUl">
            <li><a href="/Contacts/Index">Контакты</a></li>
            <li><a href="/AdminWorks/Index">Цены</a></li>
            <li><a href="/AdminWorks/Index">Работы</a></li>
        </ul>
    </li>
</ul>
